@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: #f8f8fb;
	--foreground: #0c0e16;
	--sidebar: #373b53;
	--purple: #7c5dfa;
	--purple-hover: #9277ff;
	--white-bg: #ffffff;
	--grey: #858bb2;
	--grey-04: #f9fafe;
	--grey-04-hover: #dfe3fa;
	--grey-05: #dfe3fa;
	--grey-06: #888eb0;
	--grey-07: #7e88c3;
	--grey-08: #0c0e16;
	--grey-08-bg: #373b53;
	--paid: #33d69f;
	--paid-bg: #33d69f0f;
	--pending: #ff8f00;
	--pending-bg: #ff8f000f;
	--draft: #373b53;
	--draft-bg: #373b530f;
	--red: #ec5757;
	--input-bg: transparent;
	--input-border: #dfe3fa;
	--sidebar-foreground: hsl(240 5.3% 26.1%);
	--sidebar-primary: hsl(240 5.9% 10%);
	--sidebar-primary-foreground: hsl(0 0% 98%);
	--sidebar-accent: hsl(240 4.8% 95.9%);
	--sidebar-accent-foreground: hsl(240 5.9% 10%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
	--background: #141625;
	--foreground: #ffffff;
	--sidebar: #1e2139;
	--white-bg: #1e2139;
	--draft: #dfe3fa;
	--draft-bg: #dfe3fa0f;
	--grey: #ffffff;
	--grey-04: #252945;
	--grey-05: #1e2139;
	--grey-06: #dfe3fa;
	--grey-07: #dfe3fa;
	--grey-08: #ffffff;
	--grey-08-bg: #0c0e16;
	--input-bg: #1e2139;
	--input-border: #252945;
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-sidebar: var(--sidebar);
	--color-white-bg: var(--white-bg);
	--color-purple: var(--purple);
	--color-purple-hover: var(--purple-hover);
	--color-grey: var(--grey);
	--color-grey-04: var(--grey-04);
	--color-grey-05: var(--grey-05);
	--color-grey-06: var(--grey-06);
	--color-grey-07: var(--grey-07);
	--color-grey-08: var(--grey-08);
	--color-grey-08-bg: var(--grey-08-bg);
	--color-paid: var(--paid);
	--color-paid-bg: var(--paid-bg);
	--color-pending: var(--pending);
	--color-pending-bg: var(--pending-bg);
	--color-draft: var(--draft);
	--color-draft-bg: var(--draft-bg);
	--color-red: var(--red);
	--color-input-bg: var(--input-bg);
	--color-input-border: var(--input-border);
	--font-league-spartan: var(--font-league-spartan);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--text-13: 0.813rem;
	--text-15: 0.938rem;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-league-spartan);
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

button,
input {
	font-family: inherit;
}

textarea {
	resize: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
[role='button'] {
	cursor: pointer;
	outline: none;
}

a {
	outline: none;
}

.form-label {
	@apply text-13 text-grey-07 font-medium;
}

.form-input {
	@apply h-12 border border-solid border-input-border rounded-sm bg-input-bg
	focus-within:border-purple font-bold;
}

input[type='number'] {
	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
