@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: #f8f8fb;
	--foreground: #0c0e16;
	--sidebar: #373b53;
	--purple: #7c5dfa;
	--white-bg: #ffffff;
	--grey: #858bb2;
	--grey-04: #f9fafe;
	--grey-06: #888eb0;
	--grey-07: #7e88c3;
	--grey-08: #0c0e16;
	--grey-08-bg: #373b53;
	--paid: #33d69f;
	--paid-bg: #33d69f0f;
	--pending: #ff8f00;
	--pending-bg: #ff8f000f;
	--draft: #373b53;
	--draft-bg: #373b530f;
	--red: #ec5757;
	--input-bg: #ffffff;
}

.dark {
	--background: #141625;
	--foreground: #ffffff;
	--sidebar: #1e2139;
	--white-bg: #1e2139;
	--grey: #ffffff;
	--grey-04: #252945;
	--grey-06: #dfe3fa;
	--grey-07: #dfe3fa;
	--grey-08: #ffffff;
	--grey-08-bg: #0c0e16;
	--input-bg: #1e2139;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-sidebar: var(--sidebar);
	--color-white-bg: var(--white-bg);
	--color-purple: var(--purple);
	--color-grey: var(--grey);
	--color-grey-04: var(--grey-04);
	--color-grey-06: var(--grey-06);
	--color-grey-07: var(--grey-07);
	--color-grey-08: var(--grey-08);
	--color-paid: var(--paid);
	--color-paid-bg: var(--paid-bg);
	--color-pending: var(--pending);
	--color-pending-bg: var(--pending-bg);
	--color-draft: var(--draft);
	--color-draft-bg: var(--draft-bg);
	--color-red: var(--red);
	--color-input-bg: var(--input-bg);
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--league-spartan);
	line-height: 1;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

button,
input {
	font-family: inherit;
}

textarea {
	resize: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
[role='button'] {
	cursor: pointer;
	outline: none;
}

a {
	outline: none;
}
